<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Play!</title>
  <!-- TODO: Add a fav icon here -->

  <%- include('_partials/commonCssHeaders.ejs') -%>

    <!-- Page Custom CSS - game_styles -->
    <link rel="stylesheet" href="/assets/css/game_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

  <!-- For Online Game -->
  <% if (typeof playMode !== "undefined" && playMode === "online") { %>
    <script>
      const gameId = "<%= gameId %>";
      const myUsername = "<%= myUsername %>";
      const opponentUsername = "<%= opponentUsername %>";
    </script>
  <% } %>
</head>

<body class="default-background">
  <div class="container-fluid big-container">
    <div class="row content-row">
      <div class="col-md-12">

        <!-- Portrait Mode Overlay -->
        <div class="flip-overlay">
          <img src="/assets/img/Overlays/flipPhone.svg" alt="flip to phone">
          <span class="portrait">FLIP TO PLAY</span>
        </div>

        <!-- Intro Overlay -->
        <div class="intro-page">
          <div class="scrollMessage animate__bounceInDown animate__animated animate__delay-1s animate__slow">
            <span>Scroll down to keep reading!</span>
          </div>
          <div class="blueBanner">
            <span class="character">you are: PUSINESS MAN </span>
          </div>
          <div class="yourPigeon"></div>
          <div class="bubble bubble-bottom-left">
            <span class="backstory">I’m a bird in the big apple. Lifes good! Amazing food, great night life,
              what more can a
              pigeon ask for? Well ...I wish &nbsp; <span class="pigeon-type"> hoodie pigeon</span> &nbsp;would stop stealing my food....I’ll have to
              take thing into my
              own hands. Nothing personal, it’s just business.</span>
            <div class="objectives">
              <div class="objectives-title"></div>
              <div class="objectives-banner">
                <ul class="game-info">
                  <li>Use your fork to attack unprotected spots to decrease your opponents lives</li>
                  <br>
                  <li>Use your shield block to protect yourself against opponent attacks</li>
                  <br>
                  <li>Winner is determined by the number of lives left or the amount of ammo left</li>
                </ul>
                <div class="continueBtn animate__animated animate__pulse animate__infinite">
                  Got
                  it!
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tutorial Overlay -->
        <div class="tutorial-overlay d-none animate__animated">
          <div class="tutorial"></div>
          <span class="exit-tutorial">x</span>
        </div>

        <!-- Round Countdown Overlay -->
        <div class="countdown-overlay d-none">
          <div class="countdown ready "></div>
          <div class="countdown-filler"></div>
          <!-- <span class="count">3</span> -->
        </div>

        <!-- Play Again Button -->
        <div class="play-again-container position-absolute d-flex justify-content-center align-items-end">
          <div id="pulse" class="play-again mb-5"></div>
        </div>

        <!-- Game Result Banner -->
        <div class="result-container position-absolute d-flex justify-content-center">
          <div class="result-banner position-absolute mt-4"></div>
        </div>

        <!-- Timer Counter -->
        <div class="timer-counter blue">
          <span class="time-nums">30</span>
        </div>

        <!-- Help Button -->
        <div class="help animate__animated animate__pulse animate__infinite"></div>

        <!-- Mute Button -->
        <div class="mute"></div>

        <!-- Main Components -->
        <div class="container-fluid">

          <!-- Shields View/Buttons Components -->
          <div class="row d-flex justify-content-between blocks-row">

            <!-- My Shield View Components -->
            <div class="col-sm-2 asset-padding">
              <div class="d-flex justify-content-end">
                <img draggable = "true" id="shield-image" src="/assets/img/GUI-controls/MainControls/vikingshield-1.png" alt=""
                  class="shield-icon my-shield animate__animated">
              </div>
              <div class="counter-box my-counter">
                <span class="my-block-counter">X4</span>
              </div>
            </div>

            <!-- Opponent's Shield View Components -->
            <div class="col-sm-2 asset-padding opponent-counter-box">
              <img src="/assets/img/GUI-controls/MainControls/vikingshield-1.png" alt="" class="shield-icon">
              <div class="counter-box opponent-counter">
                <span class="opponent-block-counter">X4</span>
              </div>
            </div>
          </div>

          <!-- Attack View/Buttons Components -->
          <div class="row d-flex justify-content-between">

            <!-- My Attack View Components -->
            <div class="col-sm-2 justify-content-end asset-padding">
              <div class="d-flex justify-content-end">
                <img draggable = "true" id="attack-image" src="/assets/img/GUI-controls/MainControls/attackfork-1.png" alt=""
                  class="shield-icon my-attack animate__animated">
              </div>
              <div class="counter-box my-counter">
                <span class="my-attack-counter">X4</span>
              </div>
            </div>

            <!-- Opponent's Attack View Components -->
            <div class="col-sm-2 asset-padding opponent-counter-box">
              <img src="/assets/img/GUI-controls/MainControls/attackfork-1.png" alt="" class="shield-icon">
              <div class="counter-box opponent-counter">
                <span class="opponent-attack-counter">X4</span>
              </div>
            </div>
          </div>

          <!-- Table Labels AND Tally Boards Components -->
          <div class="row d-flex board">

            <!-- Table Labels AND My Tally Board Components -->
            <div class="col-sm-6">
              <div class="row">

                <!-- Table Labels -->
                <div class="col-sm-1 asset-padding table-labels">
                </div>

                <!-- My Tally Board Components -->
                <div class="col-sm-10 asset-padding">
                  <table class="tally my-tally">
                    <tr>
                      <td class="tabol-labol head-label">
                        <img src="/assets/img/GUI-controls/MainControls/BodyParts-Head.svg" alt="Head">
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="tabol-labol body-label">
                        <img src="/assets/img/GUI-controls/MainControls/BodyParts-Body.svg" alt="Body">
                      </td>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="tabol-labol legs-label">
                        <img src="/assets/img/GUI-controls/MainControls/BodyParts-Legs.svg" alt="Legs">
                      </td>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <!-- table row for round +1/-1 animations -->
                    <tr>
                      <td class="roundPoints"></td>
                      <td class="roundPoints"></td>
                      <td class="roundPoints"></td>
                      <td class="roundPoints"></td>
                      <td class="roundPoints"></td>
                      <td class="roundPoints"></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <!-- Opponent's Tally Board Components -->
            <div class="col-sm-6 d-flex justify-content-end asset-padding">
              <table class="tally opponent-tally">
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row d-flex justify-content-between health">
            <!-- My Health Bar Components -->
            <div class="col-sm-3 asset-padding">
              <div class="health-container myHealthBar">
                <div class="heart heart-filled"></div>
                <div class="heart heart-filled"></div>
                <div class="heart heart-filled"></div>
              </div>
            </div>

            <!-- Opponent's Health Bar Components -->
            <div class="col-sm-3 d-flex justify-content-end asset-padding">
              <div class="health-container opponentHealthBar">
                <div class="heart heart-filled"></div>
                <div class="heart heart-filled"></div>
                <div class="heart heart-filled"></div>
              </div>
            </div>
          </div>

          <!-- Sunglasses Components -->
          <div class="sunglasses-container position-absolute">
            <img src="/assets/img/pigeons/pigeon-Items/Sunglasses-left.svg" alt=""
              class="sunglasses-left d-none animate__animated">
            <img src="/assets/img/pigeons/pigeon-Items/Sunglasses-right.svg" alt=""
              class="sunglasses-right d-none animate__animated">
          </div>

          <!-- Characters' Pigeon Components -->
          <div class="pigeons-container position-absolute">
            <img src="/assets/img/pigeons/pigeonV1/PigeonV1-9.svg" alt="" class="pigeon-left ">
            <img src="/assets/img/pigeons/pigeonV3/PigeonV3-1.svg" alt="" class="pigeon-right">
          </div>

          <!-- Hot-dog Pray Component -->
          <div class="hotdog-container position-absolute">
            <img src="/assets/img/Food/Hotdog/Hotdog@4x.png" alt="" class="hotdog-pray">
          </div>

          <!-- Move Picker Overlay Component -->
          <div class="container-fluid move-picker-overlay position-absolute">
            <div class="round-title animate__animated animate__slow">
            </div>
            <div class="row">
              <div class="col-sm-9 hints-box">
                <div class="row">
                  <b>Pick a fork </b>
                  <b>or shield and</b>
                  <b>select a <span class="box"> box </span></b>
                  <b> to equip that </b>
                  <b> pigeon part!</b>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-3 moves-placeholder position-absolute">
            <div class="outline-all">
              <div class="mv-placeholder head animate__animated animate__repeat-1"></div>
            </div>
            <div class="outline-threesides">
              <div class="mv-placeholder body animate__animated animate__repeat-1"></div>
            </div>
            <div class="outline-threesides">
              <div class="mv-placeholder legs animate__animated animate__repeat-1"></div>
            </div>
          </div>

          <div class="done position-absolute"></div>
        </div>
      </div>
    </div>
    <div class="row bottom-row">
      <div class=" bottom-background">
        <img src="/assets/img/LYPSTYC-logo.png" alt="LIPSTYC Logo" class="companyLogo">
      </div>
    </div>
  </div>

  <!-- more audio for rounds/game wins/loses (removed drawRound sound for now)-->

  <audio hidden="true" id="winRound" src="/assets/music/win-round-sound.wav"></audio>
  <audio hidden="true" id="winGame" src="/assets/music/winning-game.wav"></audio>
  <audio hidden="true" id="loseGame" src="/assets/music/lose-game-moan.wav"></audio>
  <audio hidden="true" id="drawGame" src="/assets/music/draw-game.wav"></audio>
  <audio hidden="true" id="loseRound" src="/assets/music/click-error.wav"></audio>
  <audio hidden="true" id="bgMusic" src="/assets/music/Fluffing-a-Duck.mp3"></audio>


  <!-- AUDIO/MUSIC CHOICES -->

  <!-- if using fluffy ducky background, put this in description: -->
  <!-- Fluffing a Duck Kevin MacLeod (incompetech.com)
    Licensed under Creative Commons: By Attribution 3.0 License
    http://creativecommons.org/licenses/by/3.0/
    Music promoted by https://www.chosic.com/free-music/all/  -->

  <!-- JavaScripts -->
  <!-- App -->
  <%- include('_partials/commonJsFooters.ejs') -%>

    <!-- Sounds -->
    <script type="module">

      import { playSound, sounds } from "/assets/js/core/sounds.js";

      //for playing theme music without user interaction + repeatings
      let theme = document.querySelector("#bgMusic");
      let continueButton = document.querySelector(".continueBtn");

      window.addEventListener('mouseover', event => {
        theme.play();

        //to remove the gray bar at the bottom of iphone XR countdown overlay
        let bottomRow = document.querySelector(".bottom-row");
        continueButton.addEventListener("click", function () {
          if (window.innerHeight <= "450") {
            bottomRow.style.backgroundColor = "#ffdc4b";
          }

          setTimeout(() => {
            bottomRow.style.backgroundColor = ""
          }, 1500);

        })
      });
      theme.addEventListener('ended', function () {
        this.currentTime = 0;
        this.play();
      }, false);


      let fork = document.querySelector("#attack-image");
      fork.onclick = function () {
        playSound(sounds.forkChecked);

        fork.classList.add("animate__pulse", "animate__faster");
        fork.addEventListener('animationend', () => {
          fork.classList.remove("animate__pulse");
        })

        let mv_placeholders = document.querySelectorAll("div.mv-placeholder");
        mv_placeholders.forEach((item) => {
          item.classList.add("animate__tada", "animate__slow");
        })
      }

      let shield = document.querySelector("#shield-image");
      shield.onclick = function () {

        playSound(sounds.shieldClicked);
        shield.classList.add("animate__pulse", "animate__faster");

        let mv_placeholders = document.querySelectorAll("div.mv-placeholder");
        mv_placeholders.forEach((item) => {
          item.classList.add("animate__tada", "animate__slow");
        })

        shield.addEventListener('animationend', () => {
          shield.classList.remove("animate__pulse");
        });
      }

      let opponentShield = document.querySelector(".opponent-counter-box > img");
      opponentShield.onclick = function () {
        playSound(sounds.denyTheClick);
      }

      let opponentFork = document.querySelector("div:nth-child(2) > div.col-sm-2.asset-padding.opponent-counter-box");
      opponentFork.onclick = function () {
        playSound(sounds.denyTheClick);
      }

      let movePlaceholderHead = document.querySelector(".mv-placeholder.head");
      movePlaceholderHead.onclick = function () {
        playSound(sounds.putInTheTally);
      }

      let movePlaceholderBody = document.querySelector(".mv-placeholder.body");
      movePlaceholderBody.onclick = function () {
        playSound(sounds.putInTheTally);
      }

      let movePlaceholderLegs = document.querySelector(".mv-placeholder.legs");
      movePlaceholderLegs.onclick = function () {
        playSound(sounds.putInTheTally);
      }

      let doneButton = document.querySelector(".done");
      doneButton.onclick = function () {
        playSound(sounds.doneChecked);

      }

      // changing mute to unmuted svg and viceversa
      let muteBtn = document.querySelector(".mute");
      muteBtn.onclick = () => {
        if (muteBtn.style.backgroundImage === 'url("/assets/img/GUI-controls/MainControls/Mute.svg")') {
          muteBtn.style.backgroundImage = 'url("/assets/img/GUI-controls/MainControls/Unmute.svg")';
        } else {
          muteBtn.style.backgroundImage = 'url("/assets/img/GUI-controls/MainControls/Mute.svg")';
        }
      }

      // drag + drop event handlers

    </script>

</body>

</html>